<!DOCTYPE html>
<html>
  <head>
    <title>{{ welcome_msg }}</title>
  </head>
  <body style="background-color:{{ colour }};">
    <h1 style="font-size:46px; text-align:center">
      {{ welcome_msg }}
    </h1>
  </body>
</html>
